<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Our basic idea was to program a platform for sharing music. We are big music fans, as well as of technologies like twitter and soundcloud, so we decided to make a combination of those. Instead of text microposts the user is able to share soundcloud songs or other audio files from soundcloud. Like twitter, the user is able to follow other users and display his microposts in his feed. For this project we wanted to learn and use a different technology than those we learned previously. As script language we chose Ruby over PHP, so we needed to learn the language and the Rails framework first.
</p>