<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Adrian Siuda: <a href="mailto:adrian.siuda@unifr.ch">adrian.siuda@unifr.ch</a>
  <br>
  Denis Bossy: <a href="mailto:denis.bossy@unifr.ch">denis.bossy@unifr.ch</a>
</p>